<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Bugs</h1>
<table>
  <thead>
    <tr class="header">
      <th>Title</th>
      <th>Issue Type</th>
      <th>Priority</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="bugs">
    <%= render @bugs %>
  </tbody>
</table>

<span class="btn">
  <%= link_to 'New Bug', new_bug_path, remote: true  %>
</span>

<div id="bug-form" style="display:none;"></div>